# App Configuration
VITE_APP_NAME=LOWESS

# API Endpoints
VITE_CONTACT_FORM_ENDPOINT=https://submit-form.com/BFgZ45QHC

# CDN Configuration
VITE_CDN_BASE_URL=https://lowest.nyc3.cdn.digitaloceanspaces.com

# Analytics (Optional)
VITE_GA_TRACKING_ID=
